*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(3, 44, 224), rgb(125, 0, 215));
}

html{
    font-size: 62.5%;
}

.calculator{
    width: 70rem;
    /* height: 40rem; */
    border: 1px solid black;
    padding: 2rem;
    border-radius: .6rem;
    background-color: black;
}

.calculator form{
    width: 100%;
    height: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    
}


.main{
    display: flex;
    justify-content: space-around;
    
}
.second{
    flex-basis: 44%;
}

.calculator form input[type="text"]{
    width: 100%;
    height: 6.9rem;
    font-size: 2rem;
    outline: none;
    text-align: right;
    padding-right: 1rem;
    background-color: transparent;
    border: 2px solid rgb(206, 206, 206);
    color: #fff;
    margin: 2rem 0 3rem 0;
    border-radius: .6rem;
}
.calculator form input[type="button"]{
    background-color: rgb(94, 94, 94);
    color: #fff;
}

.calculator form div{
    width: 100%;    
    margin-top: 1.5rem;
    /* display: flex; */
    justify-content: space-between;
}

.calculator form div input[type="button"]{
    width: 32%;
    height: 5.5rem;
    font-size: 2.3rem;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}
.last-row{
    display: flex;
    padding-left: 1.2rem;
    /* border: 1px solid white; */
}
#extra{
    height:12.5rem;
    width: 46.5%;
}
#last-row-button{
    width: 46.5%;
}
.calculator form div .operator{
    background-color: orange;
}

#clear{
    width: 100%;
    border-radius: .5rem;
    color:black;
    border: whitesmoke 1rem  ridge;
    background-color: rgb(190, 190, 190);
}

@media (max-width:1000px){
    html{
        font-size: 58%;
    }
}
@media (max-width:800px){
    html{
        font-size: 55%;
    }
}
@media (max-width:700px){
    html{
        font-size: 50%;
    }
}
@media (max-width:600px){
    html{
        font-size: 47%;
    }
}
@media (max-width:500px){
    html{
        font-size: 42%;
    }
}
@media (max-width:400px){
    html{
        font-size: 38%;
    }
}
@media (max-width:300px){
    html{
        font-size: 34%;
    }
}
@media (max-width:210px){
    html{
        font-size: 30%;
    }
}
